<div data-task-id="-id-" class="note" data-mode="reading">
    
    <i data-task-id="-id-" class="glyphicon glyphicon-trash delete" title="Click to delete task" onclick="deleteHandler(this)"></i>
    
    <i data-task-id="-id-" class="glyphicon glyphicon-edit edit" title="Click to edit task" onclick="editHandler(this)"></i>
    
    <i data-task-id="-id-"  class="glyphicon glyphicon-ok save" onclick="saveHandler(this)" title="Click to save task"></i>
    
    <textarea class="content" readonly>*content*</textarea>
    
    <div class="date-and-time">*date* *time*</div>
    
</div>

